@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #A855F7;
  --secondary: #EC4899;
  --muted: rgba(0,0,0,0.6);
}

.dark {
  --primary: #A855F7;
  --secondary: #EC4899;
  --muted: rgba(255,255,255,0.6);
}

body {
  @apply bg-gray-100 text-gray-900;
}

.dark body {
  @apply bg-[#050017] text-white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}